.informacoes-grid{
  max-width: 1000px;
  padding: 300px 100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 50px;
  color: white;
}

.sobre{
  max-width: 1000px;
  font-size: 18px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 100px;
  color: white;
};

.objetivo-titulo{
  font-size: 25px;
  color: #00C52B;
}

.formacao-titulo{
  font-size: 25px;
  color: #00C52B;
}

.experiencia-prof-titulo{
  font-size: 25px;
  color: #00C52B;
}

.qualificacoes-prof-titulo{
  font-size: 25px;
  color: #00C52B;
}
